* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  position: relative;
  z-index: 2;
}

body {
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 90vw;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  background-color: #fff;
  .quote-text {
    i {
      font-size: 1em;
      margin-right: 0.4em;
    }
    text-align: center;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 4rem;
  }
  .quote-author {
    height: auto;
    width: 100%;
    clear: both;
    padding-top: 20px;
    font-size: 2rem;
    text-align: right;
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .button {
      font-family: 'Raleway', sans-serif;
      font-size: 2rem;
      font-weight: 500;
      border: none;
      border-radius: 3px;
      color: #fff;
      background-color: #333;
      outline: none;
      padding: 16px 20px;
      opacity: 1;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #quote-box {
    max-width: 600px;
    .quote-text {
      font-size: 2rem;
    }
    .quote-author {
      font-size: 1.2rem;
    }
    .buttons {
      .button {
        font-size: 1.2rem;
        padding: 8px 12px;
      }
    }
  }
}
